*{
    margin: 0;
    padding: 0;
}
  
  header, main, footer, nav, aside, section, div  {
  
    display: block;
  
}
header{
    background-color: #D4E3FC;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}

#logo{
    
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 70px;
    display: block;  
    margin-top: 5px;
  }
.web-nav{
    display: flex;
    gap:30px;
    margin-top: 10px;


}
body {
    background-color: #f1f1f1 !important;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: large;
    
}
.profile{
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    display: block;  
    margin-top: 15px;
    margin-right: 10px;
}
.active {
    color: white;
    font-weight: bold;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  .web-nav-list-item {
    float: left;
  }
  
  .web-nav-list-item > a {
    display: block;
    color:  #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
  }
  .bar-active-item{
    height: 100%;
    width: 100%;
  }
  .bar-active-item > a{
    display: block;
    text-align:justify;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: x-large;
  }
  li a:hover {
    background-color: #cddaf2;
  }

 .hamburger-menu{
  position: absolute;
  display: none;
 }
.bar-active{
  display: none;

}
.open{
  display: flex;
  flex-direction: column;
  background-color: #e5e4e4;
  justify-content: space-around;
  height: 600px;
  width: 300px;
}
